body{
    background-color: #ECDFCC;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: #697565;
    color: #ECDFCC;
    border: solid 2px #3C3D37;
    box-shadow: 10px 5px 5px black;
}

h2{
    text-align: center;
}

div{
    margin: 20px;
}
#Introduccion{
    margin-left: 120px;
    width: 500px;
    background-color: #697565;
    color: #ECDFCC;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    font-weight: 600;
    border: solid 2px #3C3D37;
    border-radius: 5px;   
    padding: 5px;   
    box-shadow: 10px 10px 5px black;                 
}

#Tuxedo1{
    width: 150px;
    height: 150px;
    display: block;
    text-align: center;
    margin: 0 auto;
    border: solid 2px #3C3D37;            
}

#Tuxedo2{
    width: 150px;
    height: 150px;
    display: inline-block;
    border: solid 2px #3C3D37;
}

#Felix{
    width: 150px;
    height: 200px;
    margin-left: 120px;
}

#Sylvester{
    width: 150px;
    height: 200px;
}

#Sombrero{
    width: 150px;
    height: 200px;
}

#Cuerpo{
    height: fit-content;
    width: 500px;
    background-color: #697565;
    color: #ECDFCC;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    font-weight: 600;
    border: solid 2px #3C3D37;
    border-radius: 5px;   
    padding: 5px;   
    box-shadow: 10px 10px 5px black;  
    display: inline-block; 
    
}

#Final{
    background-color: #697565;
    color: #ECDFCC;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    font-weight: 600;
    border: solid 2px #3C3D37;
    border-radius: 5px;   
    padding: 5px;   
    box-shadow: 10px 10px 5px black; 
}


